@model IndexViewModel

<h2>Session-Demo</h2>

<form method="post" asp-action="Speichern">
	<input type="text" asp-for="Name" />
	<select asp-for="Colors">
		<option>White</option>
		<option>Red</option>
		<option>Green</option>
		<option>Blue</option>
	</select>
	<button type="submit">Speichern</button>
</form>


