@model PartialViewDemo.Models.Produkt

<div class="card" style="width: 12rem; margin: 10px; padding: 10px; border: 1px solid gray;">
    <h4>@Model.Name</h4>
    <p>Preis: <b>@Model.Preis €</b></p>
</div>
