@using Ap12Web.Models
@model Produkt

<!DOCTYPE html>
<html>
<head>
    <title>Produktübersicht</title>
</head>
<body>

    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Bezeichnung</th>
            <th>Preis</th>
            <th>Hersteller</th>
        </tr>
        <tr>
            <td>@Model.Bezeichnung</td>
            <td>@Model.Preis.ToString("0.00")</td>
            <td>@Model.Hersteller.Name</td>
        </tr>
    </table>

    <br />

    <a href="/Produkt/Erfassen">Noch ein Produkt erfassen</a>
    <a href="/Produkt/Liste">zurück zu Liste</a>

</body>
</html>
