<!DOCTYPE html>
<html>
<head>
	<title>Produkt erfassen</title>
</head>
<body>
	<form method="post" action="/Produkt/Speichern">
		<div>
			<label for="Bezeichnung">Bezeichnung</label>
			<input type="text" name="Bezeichnung" id="Bezeichnung" value="" />
		</div>
		<div>
			<label for="Preis">Preis</label>
			<input type="number" name="Preis" id="Preis" value="">
		</div>

		<div>
			<label for="Hersteller">Hersteller</label>
			<select name="Hersteller" id="Hersteller">
				<option>Bitte auswählen</option>
				<option>AlpenGold Lebensmittel GmbH</option>
				<option>Wiener Genussmanufaktur</option>
				<option>Steirische Naturkost KG</option>
			</select>
		</div>
		<input type="submit" value="Senden" />
	</form>
</body>
</html>
