@{
    ViewData["Title"] = "Home Page";
}

<h2>Serilog Demo</h2>
<ul>
    <li><a href="/Home/OkDemo">Ok Demo (Info-Log)</a></li>
    <li><a href="/Home/ErrorDemo">Error Demo (Error-Log)</a></li>
</ul>
