@using PersonenVerwaltung.Viewmodels
@model DetailsViewmodel
<!DOCTYPE html>
<html>
<head>
	<title>Personendaten-Anzeige</title>
</head>
<body>
	<div>Vorname: @Model.Vorname</div>
	<div>Nachname: @Model.Nachname</div>
	<div>Alter: @Model.Alter</div>
	<div>Standort: @Model.Standort</div>
</body>
</html>