@model RegistrierenViewmodel

<!DOCTYPE html>
<html>
<head>
	<title>Personen-Registrierung</title>
</head>
<body>
	<h2>@ViewData["Seitentitel"]</h2>
	@* 
	<form method="post" action="/Personen/Registrieren">
		<label for="Vorname">Vorname</label>
		<input type="text" value="@Model.Vorname" name="Vorname" id="Vorname" />
		<br />
		<label for="Nachname">Nachname</label>
		<input type="text" name="Nachname" id="Nachname" value="@Model.Nachname" />
		<br />
		<label for="Alter">Alter</label>
		<input type="number" name="Alter" id="Alter" value="@Model.Alter" />
		<br />
		<select name="StandortId" id="StandortId">
			<option>Bitte auswählen</option>
			<option value="1">Wien</option>
			<option value="2">Sankt Pölten</option>
			<option value="3">Zwettl</option>
		</select>
		<input type="submit" value="Absenden" />
	</form>
 *@

	<form method="post" asp-controller="Personen" asp-action="Registrieren">
		<div>
			<label asp-for="Vorname"></label>
			<input asp-for="Vorname" />
			<span asp-validation-for="Vorname"></span>
		</div>
		<div>
			<label asp-for="Nachname"></label>
			<input asp-for="Nachname" />
			<span asp-validation-for="Nachname"></span>
		</div>
		<div>
			<label asp-for="Alter"></label>
			<input asp-for="Alter" />
			<span asp-validation-for="Alter"></span>
		</div>
		<div>
			<label asp-for="StandortId"></label>
			<select asp-for="StandortId" asp-items="Model.StandortListe"></select>
			<span asp-validation-for="StandortId"></span>
		</div>
		<input type="submit" value="Absenden" />
	</form>
</body>
</html>
