
<div class="text-center">
	<a asp-action="Create" asp-controller="ContactInfo" class="btn btn-primary">Neu anlegen</a>
	<a asp-action="Index" asp-controller="ContactInfo" class="btn btn-primary">Alle anzeigen</a>
	<a asp-action="Spa" asp-controller="ContactInfo" class="btn btn-primary">SPA</a>
</div>
